{% extends "base.html" %}

{% block konten%}

<h1>Tentang kami</h1>
<p>Flask adalah sebuah web framework yang ditulis dengan bahasa Python dan tergolong sebagai jenis microframework. Flask
    berfungsi sebagai kerangka kerja aplikasi dan tampilan dari suatu web. Dengan menggunakan Flask dan bahasa Python,
    pengembang dapat membuat sebuah web yang terstruktur dan dapat mengatur behaviour suatu web dengan lebih mudah.
    Flask termasuk pada jenis microframework karena tidak memerlukan suatu alat atau pustaka tertentu dalam
    penggunaannya. Sebagian besar fungsi dan komponen umum seperti validasi form, database, dan sebagainya tidak
    terpasang secara default di Flask. Hal ini dikarenakan fungsi dan komponen-komponen tersebut sudah disediakan oleh
    pihak ketiga dan Flask dapat menggunakan ekstensi yang membuat fitur dan komponen-komponen tersebut seakan
    diimplementasikan oleh Flask sendiri. Selain itu, meskipun Flask disebut sebagai microframework, bukan berarti Flask
    mempunyai kekurangan dalam hal fungsionalitas. Microframework disini berarti bahwa Flask bermaksud untuk membuat
    core dari aplikasi ini sesederhana mungkin tapi tetap dapat dengan mudah ditambahkan. Dengan begitu, fleksibilitas
    serta skalabilitas dari Flask dapat dikatakan cukup tinggi dibandingkan dengan framework lainnya.</p>

{% endblock %}