{% extends "base.html" %}

{% block konten%}

<div class="jumbotron">
    <h1 class="display-4">Hello, Selamat datang di Website saya</h1>
    <p class="lead">Ini adalah website yang pertama kali saya buat yaitu tentang pendataan Surat Masuk dan Keluar,
        website ini saya buat atas bimbingan dari dosen saya yaitu Ibu Gamaria Mandar, selaku Dosen Program studi</p>
    <hr class="my-4">
    <p>Jika terdapat kesalahan dari website saya, saya mohon maaf. saya akan kembangkan lagi website saya ini.
        terimakasih</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}